body{
    margin: 0;
}

.container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
button {
    color: black;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  button::before {
    margin-left: auto;
  }
  
  button::after, button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: blue;
    display: block;
    transition: 0.5s;
  }
  
  button:hover::after, button:hover::before {
    width: 100%;
  }

  .titulo{
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 30px;
  }

  .texto{
    margin: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  
  .subtitle{
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 25px;
  }

  .contenedor{
    display: flex;
    justify-content: center;
  }

  .contenedor img{
    width: 25%;
    margin: 30px;
  }

  a{
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }

  .contenedor-dueño{
    display: flex;
    justify-content: center;
  }

  .contenedor-dueño img{
    width: 30%;
  }

  .contenedor-empleados{
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .contenedor-empleados img{
    width: 20%;
    margin: 20px;
  }

  .productos img{
    float: left;
  }